img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

h1 {
  text-align: center;
  margin-top: 5em;
  border: solid #c0c0a5 1rem;
}
.blogtitle{
  padding-left: .1em;
  margin-top: .5em;
  text-align: left;
}
.blog{
  text-align: center;
  margin-top: 0px;
  height: 40px;
  width: 120px;
  padding-left: 27px;
  padding-right: 27px;
}

.about {
  text-align: center;
  height: 40px;
  width: 120px;
  padding-left: 27px;
  padding-right: 27px;
}

.projects {
  text-align: center;
  height: 40px;
  width: 120px;
  padding-left: 27px;
  padding-right: 27px;
}

.contact{
  text-align: center;
  height: 40px;
  width: 120px;
  padding-left: 27px;
  padding-right: 27px;
}
h3 {
  margin-left: .5em;
}

nav {
  display: flex;
}

a {
  text-decoration: none;
  color: #595959;
}

a:hover {
  color: #595959;
}

p {
  margin-left: 1em;
  margin-right: 1em;
}


.blogarea {
  height: 500px;
  overflow: auto;
}


.line {
  margin-bottom: 1em;
  background-color:#c0c0a5;
  border-radius: 25px;
  width: 98%;
  height: 5px;
}


/* SERVICES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
